body {
  background-color: #222;
  text-align: center;
  color: #fff;
}

#mycanvas {
  background-color: #bb9acb;
}

#action {
  width: 400px;
  padding: 10px 20px;
  margin: 20px auto;
  border: 1px solid #fff;
  font-size: 1.25rem;
}

#save-btn:hover {
  background-color: green;
}
#delete-btn:hover {
  background-color: tomato;
}

#graph-btn:hover {
  background-color: aquamarine;
}

#stop-btn:hover {
  background-color: chocolate;
}

button,
.file-input-label {
  display: inline-block;
  background-color: white;
  font-size: 20px;
  padding: 5px 7px 7px 5px;
  border: none;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}
