body {
  background-color: #222;
  text-align: center;
  color: #fff;
}

#mycanvas {
  background-color: #bb9acb;
}

#action {
  width: 400px;
  padding: 10px 20px;
  margin: 20px auto;
  border: 1px solid #fff;
  font-size: 1.25rem;
}

button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 1.25rem;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}
#save-btn:hover {
  background-color: green;
}
#delete-btn:hover {
  background-color: tomato;
}

#graph-btn:hover {
  background-color: aquamarine;
}

#stop-btn:hover {
  background-color: chocolate;
}
